body{
	background-image: url("../img/background-login.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Audiowide', cursive;
	margin: 0;
	padding: 0;
}

/* CONTAINERS */
.login-container{
	width: 500px;
}
.card-container{
	background-color: rgba(255, 255, 255, .8);
}

#capa{
	background-color: rgba(0,0,0,.6);
	background-size: cover;
	background-attachment: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
