h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
}

/* COLORS */
.white-text{
	color: #F2F2F2;
}

/* CONTAINERS */
.logo-j2v{
	width: 40px;
}


/* ALIGNNEMENTS */
.center{
	margin: 0 auto;
}

/* MARGINS */
.no-margin{
	margin: 0;
}
.no-margin-bottom{
	margin-bottom: 0;
}
.margin-right{
	margin-right: 2em;
}
.margin-top-regular{
	margin-top: 5em;
}
.margin-top-small{
	margin-top: 1em;
}
.margin-top-big{
	margin-top: 10em;
}
.margin-bottom-small{
	margin-bottom: 3em;
}

/* PADDINGS */
.no-padding{
	padding: 0;
}
.no-padding-bot{
	padding-bottom: 0;
}
.padding-bot-top{
	padding-bottom: 10px !important;
	padding-top: 10px !important
}
.padding-left-small{
	padding-left: .5em !important;
}
.padding-left-right{
	padding-left: 2em !important;
	padding-right: 2em !important;
}

/* FONTS SIZES */
.small-font{
	font-size: 1.5em;
}
.regular-font{
	font-size: 2em;
}
.normal-font{
	font-size: 4em;
}
.big-font{
	font-size: 6em;
}
.extra-big-font{
	font-size: 8em;
}
.font-bold{
	font-weight: bold;
}

/* BORDERS */
.border-bot{
	border-bottom: 1px solid #fff;
}

/* SELECTED */
.selected-menu{
	background-color: #80cbc4;
}


.menu a:hover{
	background-color: #80cbc4;
}

td{
	padding-top: 5px;
	padding-bottom: 5px;
}

.icon-setting{
	font-size: 16px !important;
}
.vertical-align-mid{
	vertical-align: middle;
}